.logo-header{
    color: blue;
}
.section-hero-btn{
    color: blue;
}
.section-hero{
    background-color: #2F303A;
}
.section-hero-title{
    color:  #FFFFFF;
}
.footer{
    background-color:  #2F303A;
}
